<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sports.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="../../../index.html" style="position: relative;right: 700px;top: 45px;"><button style="width: 50px;padding: 9px;border-radius: 5px;outline: none;border: none;box-shadow: 0px 0px 5px gray;cursor: pointer;"><i class="fa-solid fa-arrow-left" style="color: rgb(33, 33, 94)white;font-size: 1.5rem;"></i></button></a>
            <h1><span style="color: tomato;">Sports</span>  >>  Activities</h1>
        </div>
        <div class="overlay">
            <div class="overlayShadow">
                <p style="width: 85%;color: white;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;line-height: 32px;font-size: 1.2rem; position: relative;top: 20px;left: 20px;">The sports complex of the school, with a number of courts for various indoor & outdoor games, bubble with mirth and enthusiasm of students in their strive for excellence in sports under the supervision of expert coaches and trainers. Facilities of indoor & outdoor games are available to the students without hindrances. Inter house & inter-school tournaments are organized from time to time & school teams are sent to participate at various levels of tournament.</p>
                <br>
                <p style="width: 85%;color: white;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;line-height: 32px;font-size: 1.2rem; position: relative;top: 20px;left: 20px;">Healthy mind resides in healthy body. Positive health, growth & development of a child rely upon the exposure he gets in the playground. It is mandatory for every student to take part in at least one game.</p>
            </div>
        </div>
</body>
</html>