<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="aboutus.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    
    <div class="container1">
        <div class="navbar1">
            
            <a href="../../index.html" style="position: relative;right: 700px;top: 45px;"><button style="width: 50px;padding: 9px;border-radius: 5px;outline: none;border: none;box-shadow: 0px 0px 5px gray;cursor: pointer;"><i class="fa-solid fa-arrow-left" style="color: rgb(33, 33, 94)white;font-size: 1.5rem;"></i></button></a>

            <h1>About Us</h1>
        </div>

        <div class="marquee">
            <marquee><pre>S.G.S SCHOOL KHERA , SIWANI(BHIWANI)               S.G.S SCHOOL KHERA , SIWANI(BHIWANI)               S.G.S SCHOOL KHERA , SIWANI(BHIWANI)               S.G.S SCHOOL KHERA , SIWANI(BHIWANI)               S.G.S SCHOOL KHERA , SIWANI(BHIWANI)               S.G.S SCHOOL KHERA , SIWANI(BHIWANI)</pre></marquee>
        </div>

        <div class="overlay">
            <div class="overlayShadow">
                <div style="margin-left: 20px;font-size: 1.1rem;color: white;">
                    <ul>
                        <li class="list" style="position: relative;left: 20px;top:20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><span style="color: tomato;"><b><u>Academic Excellence</u></b></span> : Emphasize any exceptional academic achievements, such as high exam scores, awards, or recognition received by students or faculty.</li>
                        <br>
                        <li class="list"  style="position: relative;left: 20px;top:20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><span style="color: tomato;"><b><u>Dedicated Faculty</u></b></span> : Highlight the qualifications, experience, and dedication of your teaching staff. Showcase their expertise and commitment to student success.</li>
                        <br>
                        <li class="list"  style="position: relative;left: 20px;top:20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><span style="color: tomato;"><b><u>Innovative Programs</u></b></span> : If your school offers unique or specialized programs, such as STEM initiatives, arts integration, or language immersion, make sure to feature them prominently.</li>
                        <br>
                        <li class="list"  style="position: relative;left: 20px;top:20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><span style="color: tomato;"><b><u>Student Success Stories</u></b></span>  : Share stories of student achievements, whether it's academic, extracurricular, or community-oriented. Highlighting the accomplishments of your students can demonstrate the effectiveness of your educational approach.</li>
                        <br>
                        <li class="list"  style="position: relative;left: 20px;top:20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><span style="color: tomato;"><b><u>Diverse and Inclusive Community</u></b></span>  : Showcase the diversity within your school community and emphasize your commitment to inclusivity and equity. Highlight any initiatives or programs aimed at fostering diversity and creating a welcoming environment for all students.</li>
                        <br>
                        <li class="list"  style="position: relative;left: 20px;top:20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><span style="color: tomato;"><b><u>Extracurricular Activities</u></b></span> : Highlight the range of extracurricular opportunities available to students, such as sports teams, clubs, arts programs, and community service initiatives. These activities contribute to a well-rounded education and personal growth.</li>
                        <br>
                        <li class="list"  style="position: relative;left: 20px;top:20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><span style="color: tomato;"><b><u>Technology Integration</u></b></span> : If your school leverages technology effectively in teaching and learning, or if you have state-of-the-art facilities and resources, be sure to showcase this aspect.</li>
                        <br>
                        <li class="list"  style="position: relative;left: 20px;top:20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><span style="color: tomato;"><b><u>Supportive Environment</u></b></span> : Emphasize the supportive and nurturing environment your school provides, including counseling services, mentorship programs, and any initiatives focused on student well-being and mental health.</li>
                        <br>
                        <li class="list"  style="position: relative;left: 20px;top:20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><span style="color: tomato;"><b><u>Community Engagement</u></b></span> : Highlight any partnerships or collaborations with local organizations, businesses, or universities that enrich the educational experience and benefit the broader community.</li>
                        <br>
                        <li class="list"  style="position: relative;left: 20px;top:20px;width: 90%;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><span style="color: tomato;"><b><u>Alumni Success</u></b></span>  : Showcase the achievements of your alumni to demonstrate the long-term impact of your education and to inspire current and prospective students.</li>
                        <br>
                    </ul>
                </div>
            </div>
        </div>


                
    </div>
</body>
</html>