<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="readmore.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="../../index.html" style="position: relative;right: 700px;top: 45px;"><button style="width: 50px;padding: 9px;border-radius: 5px;outline: none;border: none;box-shadow: 0px 0px 5px gray;cursor: pointer;"><i class="fa-solid fa-arrow-left" style="color: rgb(33, 33, 94)white;font-size: 1.5rem;"></i></button></a>

            <h1>About the school</h1>
        </div>

        

        <div class="overlay">
            <div class="overlayShadow">
                <div style="margin-left: 20px;font-size: 1.1rem;color: white;">
                    <ul>
                        <li style="position: relative;left: 20px;top:20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><span style="color: tomato;"><b><u>Regular Attendance</u></b></span> : Encourage punctuality and regular attendance among students. Emphasize the importance of being present and engaged in class to maximize learning opportunities.</li>
                        <br>
                        <li style="position: relative;left: 20px;top:20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><span style="color: tomato;"><b><u>Time Management</u></b></span> : Teach students effective time management skills to help them balance academic responsibilities, extracurricular activities, and personal commitments.</li>
                        <br>
                        <li style="position: relative;left: 20px;top:20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><span style="color: tomato;"><b><u>Critical Thinking</u></b></span> : Foster a culture of critical thinking and problem-solving by encouraging students to question, analyze, and evaluate information from various perspectives.</li>
                        <br>
                        <li style="position: relative;left: 20px;top:20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><span style="color: tomato;"><b><u>Respect and Empathy</u></b></span>  : Promote respect for others, including classmates, teachers, staff, and members of the broader community. Encourage empathy and understanding towards individuals from diverse backgrounds and experiences.</li>
                        <br>
                        <li style="position: relative;left: 20px;top:20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><span style="color: tomato;"><b><u>Responsibility</u></b></span>  : Instill a sense of responsibility in students by assigning tasks and projects that require them to take ownership of their learning and actions. Teach them to follow through on commitments and fulfill obligations.</li>
                        <br>
                        <li style="position: relative;left: 20px;top:20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><span style="color: tomato;"><b><u>Effective Communication</u></b></span> : Emphasize the importance of clear and respectful communication skills, both verbal and written. Provide opportunities for students to practice expressing themselves articulately and listening actively to others.</li>
                        <br>
                        <li style="position: relative;left: 20px;top:20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><span style="color: tomato;"><b><u>Collaboration</u></b></span> : Foster a collaborative learning environment where students work together in teams, share ideas, and learn from one another. Teach them how to collaborate effectively, resolve conflicts, and contribute positively to group dynamics.</li>
                        <br>
                        <li style="position: relative;left: 20px;top:20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><span style="color: tomato;"><b><u>Health and Wellness</u></b></span> : Promote healthy lifestyle habits, including physical activity, balanced nutrition, and adequate sleep. Educate students about the importance of self-care and stress management techniques.</li>
                        <br>
                        <li style="position: relative;left: 20px;top:20px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><span style="color: tomato;"><b><u>Environmental Awareness</u></b></span> : Encourage environmental stewardship by promoting sustainability practices within the school community. Teach students to respect the environment, reduce waste, and participate in eco-friendly initiatives.</li>
                        <br>
                        <li style="position: relative;left: 20px;top:20px;width: 90%;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><span style="color: tomato;"><b><u>Lifelong Learning</u></b></span>  : Cultivate a love for learning and a growth mindset among students. Encourage curiosity, creativity, and a willingness to embrace challenges as opportunities for growth and development.</li>
                        <br>
                    </ul>
                </div>
            </div>
        </div>


                
    </div>
</body>
</html>