<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="philosophy.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="../../../index.html" style="position: relative;right: 700px;top: 45px;"><button style="width: 50px;padding: 9px;border-radius: 5px;outline: none;border: none;box-shadow: 0px 0px 5px gray;cursor: pointer;"><i class="fa-solid fa-arrow-left" style="color: rgb(33, 33, 94)white;font-size: 1.5rem;"></i></button></a>

            <h1>School Philosophy</h1>
        </div>

        

        <div class="overlay">
            <div class="overlayShadow">
                <div style="margin-left: 20px;font-size: 1.1rem;color: white;">
                    <p style="position: relative;top: 20px;left: 20px;color: black;">The school is committed to providing the highest quality education for all in an environment that cares for our students, staff and parents.</p>
                    <br><br>
                    <h3 style="position: relative;top: 20px;left: 20px;color: black;">This commitment is demonstrated by encouraging students to:

                    </h3>
                    <ul style="position: relative;top: 40px;left: 40px;">
                        <li>Reach their full academic, social and physical potential in a fair, positive and consistent environment.
                        </li>
                        <li>Display a commitment to improving their learning outcomes.
                        </li>
                        <li>Develop a sense of self-discipline in their work and their play.
                        </li>
                        <li>Respect the rights of other students, staff and visitors.
                        </li>
                        <li>Develop a good understanding of all key-learning areas, particularly literacy and numeracy.
                        </li>
                        <li>Provide equal opportunity for all members of the school community.
                        </li>
                        <li>Develop in students, qualities and life skills such as responsibility, communication, independence, inquiring minds, problem solving, team skills and creativity.
                        </li>
                        <li>Prepare students for their next stages of learning by building on their strengths and experiences.
                        </li>
                    </ul>

                   <p style="margin-top: 120px;margin-left: 20px">These values are used to support our students, teachers and parents in becoming positive citizens within their community.

                   </p>

                </div>
            </div>
        </div>


                
    </div>
</body>
</html>