<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="healthcenter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="../../../index.html" style="position: relative;right: 700px;top: 45px;"><button style="width: 50px;padding: 9px;border-radius: 5px;outline: none;border: none;box-shadow: 0px 0px 5px gray;cursor: pointer;"><i class="fa-solid fa-arrow-left" style="color: rgb(33, 33, 94)white;font-size: 1.5rem;"></i></button></a>
            <h1><span style="color: tomato;">Health Center</span>  >>  Facilities</h1>
        </div>
        <div class="overlay">
            <div class="overlayShadow">
                <p style="width: 85%;color: black;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;line-height: 32px;font-size: 1.2rem; position: relative;top: 20px;left: 20px;">The school provides facilities of medical care to the students. The health center is equipped with modern health care systems. The school maintains well-equipped dispensaries under the charge of a Medical Officer and full time resident-trained nurses.
                </p>
                <br>
                <p style="width: 85%;color: black;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;line-height: 32px;font-size: 1.2rem; position: relative;top: 20px;left: 20px;">The medical Officer carries out medical checkup PERIODICALLY. Vaccination and Inoculation for cholera and typhoid are compulsorily administered to all students unless they produce a certificate from a qualified and registered medical practitioner that they have already been inoculated /vaccinated. Parents/ guardians seeking admission for their sons/wards will have to fill up a performa mentioning any allergy or anything particular relating to their ward’s health for the information of the school medical officer. All students are medically checked up at regular intervals. Their weights and heights are recorded at the beginning and at the end of each term. In case of serious illness, the parents are kept informed about their daily progress.

                </p>
                <br>
                <p style="width: 85%;color: black;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;line-height: 32px;font-size: 1.2rem; position: relative;top: 20px;left: 20px;">There are lectures delivered, demonstrations held from time to time to create awareness regarding health and to keep the students away from the vulnerable social ills. Children are kept aware of the dangers of the new diseases cropping up from time to time.
                </p>
                <br>
                
            </div>
        </div>
</body>
</html>