<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="values.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="../../../index.html" style="position: relative;right: 700px;top: 45px;"><button style="width: 50px;padding: 9px;border-radius: 5px;outline: none;border: none;box-shadow: 0px 0px 5px gray;cursor: pointer;"><i class="fa-solid fa-arrow-left" style="color: rgb(33, 33, 94)white;font-size: 1.5rem;"></i></button></a>

            <h1>Why choose SGS?</h1>
        </div>

        

        <div class="overlay">
            <div class="overlayShadow">
                <div style="margin-left: 20px;font-size: 1.1rem;color: white;">
                   
                    <ul style="position: relative;top: 40px;left: 40px;list-style-type: none;">
                        <li>We consistently achieve better examination results for our pupils - whether bright or average - than other similar schools.
                        </li>
                        <br>
                        <li>All our teachers live in the School Campus and it is this which makes possible the outstanding diversity of worthwhile activities. On Sundays we have an impressive range of activities, including sports tournaments, House quiz, socially useful productive work etc.
                        </li>
                        
                        <br>
                        <li>We place great emphasis on the development of qualities of leadership and teamwork.
                        </li>
                        <br>
                        <li>Our pupils come from very wide catchment areas and abroad.
                        </li>
                        <br>
                        <li>The school provides the highest quality of education and promotes high expectation of achievement, in partnership with staff, students, parents and the community
                        </li>
                        <br>
                        <li>Every student is helped to develop to his/her maximum potential. Work is monitored carefully and extra help is given where necessary. The many activities on offer, often in the evenings and at weekends, enable all boys and girls to develop interests and skills.
                        </li>
                        <br>
                        <li>We aim to produce a well rounded individual who shows both a determination to do things well together with courtesy and consideration for others.
                        </li>
                        <br>
                        <li>The School has a carefully planned personal, social and health education programme
                        </li>
                        <br>
                        <li>The school Continues to emphasize that parents are partners of the school and that their involvement is needed and valued. 

                        </li>
                    </ul>

                   

                </div>
            </div>
        </div>


                
    </div>
</body>
</html>