<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="library.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="../../../index.html" style="position: relative;right: 700px;top: 45px;"><button style="width: 50px;padding: 9px;border-radius: 5px;outline: none;border: none;box-shadow: 0px 0px 5px gray;cursor: pointer;"><i class="fa-solid fa-arrow-left" style="color: rgb(33, 33, 94)white;font-size: 1.5rem;"></i></button></a>
            <h1><span style="color: tomato;">Our Library</span>  >>  Facilities</h1>
        </div>
        <div class="overlay">
            <div class="overlayShadow">
                <p style="width: 85%;color: white;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;line-height: 32px;font-size: 1.2rem; position: relative;top: 20px;left: 20px;">Central to the academic life of the School is the Library. With its comprehensive collection of books, reference material, encyclopedias, yearbooks, manuals, directories, gazetteers, atlases, educational videocassettes, CDs are also available. Adequate number of newspapers keeps the students updated and magazines help them in preparing for competitive exams.

                </p>
                <br>
                <p style="width: 85%;color: white;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;line-height: 32px;font-size: 1.2rem; position: relative;top: 20px;left: 20px;">There is a provision of library period in the school timetable and students are trained in making an effective use of the library. Students are required to submit a synopsis of the books read by them to the Librarian.


                </p>
                <br>
                
            </div>
        </div>
</body>
</html>